.client {
    padding: 94px 0 94px 0;
    text-align: center;
}
.client__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
}
.client__list {
    display: flex;
}
.client__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}
.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 88px;
    border: 1px solid $fill-icon;
    border-radius: 4px;
    color: $fill-icon;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border-color: $active-color;
        color: $active-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.client__icon {
    fill: currentColor;
}
