.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.features-list__item {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (max-width:767px) {
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 768px) {
        width: 354px;
        margin: 15px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}
.features-list__wrapper {
    background: $background-card;
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.features-list__title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-list__content {
    margin-top: 10px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: $popular-color;
}