.footer {
    background: $background-footer;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
}
.footer__logo {
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}