.form-data {
    text-align: center;
}
.form-data__title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $brand-color;
    margin-bottom: 12px;
    @media screen and (max-width: 1199px) {
        line-height: 30px;
    }
    @media screen and (min-width: 1200px) {
        line-height: 23px;
    }
}
.form-data__label {
    display: flex;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $popular-color;
}
.form-data__wrapper {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}
.form-data input {
    width: 100%;
    cursor: pointer;
    padding-left: 42px;
    line-height: 40px;
    border: 1px solid $border-dark;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border: 1px solid $active-color;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.form-data__icon {
    position: absolute;
    top: 50%;
    left: 14px;
    fill: $brand-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(-50%);

    .form-data input:focus + &,
    .form-data input:hover + & {
        fill: $active-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.form-data__textarea-wrapper {
    margin-top: 4px;
    margin-bottom: 20px;
}
.form-data__textarea {
    cursor: pointer;
    resize: none;
    width: 100%;
    height: 96px;
    padding: 12px 16px;
    border: 1px solid $border-dark;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border: 1px solid $active-color;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.form-data__textarea-wrapper textarea::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: $text-placeholder;
}
.condition {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.condition input[type='checkbox'] {
    opacity: 0;
    width: 16px;
    height: 15px;
}
.condition input:checked + .condition__icon {
    opacity: 1;
}
.condition input:checked ~ .condition__border {
    opacity: 0;
}
.condition__label {
    display: flex;
    align-items: center;
}
.condition__span {
    position: relative;
}
.condition__icon {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: $main-light;
    background-color: $active-color;
}
.condition__border {
    border: 1px solid $main-dark;
    width: 14px;
    height: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &:focus,
    &:hover {
        cursor: pointer;
        border: 1px solid $active-color;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.condition__link,
.condition__text {
    letter-spacing: 0.03em;
    @media screen and (max-width: 1199px) {
        font-size: 12px;
        line-height: 14px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 24px;
    }
}
.condition__text {
    margin-left: 9px;
    color: $popular-color;
}
.condition__link {
    margin-left: 3px;
    color: $active-color;
    text-decoration: underline;
}