.hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(to right,
     $hero-background,
     $hero-background
    ), url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: $main-light;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    letter-spacing: 0.06em;
}