.projects {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.projects__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.filter {
    display: flex;
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -8px;
        margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}
.filter__item {
    margin-right: 8px;
    &:last-child {
        margin-right: 0;
    }
    @media screen and (max-width: 767px) {
        margin-top: 15px;
    }
}
.filter__btn {
    cursor: pointer;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: $brand-color;
    background-color: $background-card;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    letter-spacing: 0.03em;
    transition: color 250ms linear, background-color 250ms linear;
    &--background {
        background-color: $active-color;
        color: $main-light;
    }
    &:hover,
    &:focus {
        color: $main-light;
        background-color: $active-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: color 250ms linear, background-color 250ms linear, box-shadow 250ms linear;
    }
}

.project-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-flow: row wrap;
        margin-top: -30px;
        margin-left: -30px;
    }
}
.project-list__item {
    @media screen and (max-width: 767px) {
        margin-top: 30px;
        &:last-child {
            margin-top: 0;
        }
    }
    @media screen and (min-width: 768px) {
        margin-left: 30px;
        margin-top: 30px;
    }
}
.project-list__link {
    display: block;
    height: 100%;
    &:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow 250ms linear;
    }
}
.project-list__link:focus .project-list__overlay,
.project-list__link:hover .project-list__overlay {
    opacity: 0.9;
    top: 0;
    left: 0;
    transition: top 250ms linear;
}
.project-list__thumb {
    position: relative;
    overflow: hidden;
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}
.project-list__img {
    display: block;
    @media screen and (max-width: 479px) {
        width: 100%;
    }
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 370px;
    }
}
.project-list__overlay {
    position: absolute;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $main-light;
    background: $background-owerlay;
    top: 100%;
    left: 0;
    transition: top 250ms linear 0.1s;
    pointer-events: none;
}
.project-list__text {
    display: block;
    margin: 0 24px 0;
}
.project-list__wrapper {
    padding: 20px 24px;
    border-left: 1px solid $border-light;
    border-right: 1px solid $border-light;
    border-bottom: 1px solid $border-light;
    &--height {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            height: 146px;
        }
    }
}
.project-list__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
    color: $brand-color;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 304px;
    }
}
.project-list__content {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $popular-color;
}