.social-networks {
    margin-top: 68px;
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.social-networks__list {
    display: flex;
}
.social-networks__item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
}
.social-networks__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $active-color;
    &::after {
        margin-left: 10px;
        content: "";
        border-radius: 2px;
        width: 22px;
        height: 0px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    }
    &--after {
        &::after {
           display: none;
        }
    }
    @media screen and (max-width: 479px) {
        font-size: 12px;
        line-height: 14px;
    }
}