$brand-color: #212121;
$popular-color: #757575;
$main-light: #ffffff;
$active-color: #2196F3;
$background-footer: #2F303A;
$background-btn: #188CE8;
$background-owerlay: rgba(33, 150, 243, 0.9);
$main-dark: #000000;
$background-card: #F5F4FA;
$fill-icon: #AFB1B8;
$border-color: #ECECEC;
$border-light: #EEEEEE;
$text-light: rgba(255, 255, 255, 0.6);
$border-form: rgba(255, 255, 255, 0.3);
$background-join: rgba(255, 255, 255, 0.1);
$text-placeholder: rgba(117, 117, 117, 0.5);
$work-text: rgba(47, 48, 58, 0.8);
$hero-background: rgba(47, 48, 58, 0.4);
$border-dark: rgba(33, 33, 33, 0.2);
$background-backdrop:rgba(0, 0, 0, 0.2);
$border-btn: rgba(0, 0, 0, 0.1);